name: Multi Event
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  show-info:
    runs-on: ubuntu-latest
    steps:
    - name: Info
      run: |
        echo "This is the multi event"
