name: Matrix Example

on:
  push:
    branches:
      - main

jobs:
  example_matrix:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        version: [10, 12, 14]
        os: [ubuntu-latest, windows-latest]
