name: Test Composite Action
on: 
  push:
    branches:
      - main
jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run composite action
        uses: ./.github/actions/composite-action
        with:
          message: "Hello from composite action"
